html,body {
  height: 100%;
  background-color: #C7EDCC;
}

#root {
  height: 100%;
}

.height100{
  height: 100%;
}

.input-area{
  font-size: 1em;
  line-height: 1.2em;
  border: solid 5px #C7EDCC;
}